
.centered {
  width: 100%;
  text-align: center;
}


.small-container {
  padding: 20px;
}

.blue-button {
  background-color: blue;
  text-align: center;
  color: black;
}

.picture {
  width: 50%;
  height: 120px;
  line-height: 120px;

  outline: 2px solid grey;
}

.line {
  outline: 1px solid grey;
}

.reportButton {
  font-size:20px;
}
